<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Physicalocation" value="In my Bedroom at home"/>
    <add key="ComputerName" value="WOOT"/>
    <add key="Department" value="IT"/>
    <add key="Notes" value="THIS IS a Note"/>
    <add key="Port" value="1234"/>
  </appSettings>
</configuration>